<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" backupGlobals="false" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Brick\Money test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
